.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  background-color: #282c34;
  min-height: 5vh;
  color: white;
}
